.stage-header>h1 {
  margin-bottom: 20px;
  color: #B93B3B;
  font-family: Playfair Display;
  font-size: 30px;
}

.stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stage-indicators {
  margin-bottom: 11px;
  display: flex;
  gap: 80px;
}

.stage-indicator {
  display: block;
  border-radius: 50%;
  text-align: center;
  padding: 12px 18px;
  border: 1px solid black;
}

.stage-indicator.active {
  border: 1px solid #B93B3B;
}

.wedding_img {
  background: url(./wedding_img1.png) no-repeat;
  width: 100%;
  margin-bottom: 48px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.table-grid {
  text-align: center;
}

.table-grid>button {
  position: relative;
  top: 45px;
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: gray;
  box-shadow: 0px 4px 4px 0px rgba(209, 75, 75, 0.25);
  color: white;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  justify-content: center;
}

.tables:nth-child(1) {
  margin-bottom: 48px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #FDD;
  box-shadow: 4px 6px 21px 0px rgba(0, 0, 0, 0.10), -4px -6px 13px 0px rgba(0, 0, 0, 0.10);
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  width: 115px;
  text-align: center;
  height: 180px;
}

.seat {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.seat>img {
  width: 40px;
  height: 40px;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-modal {
  font-size: 30px;
}

.modal-body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-body>img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.seat-row {
  display: flex;
}

.center-div {
  border: 2px solid black;
  height: 40px;
}

.occupied {
  background-color: #ff6347;
  cursor: default;
}

.available {
  background-color: #98fb98;
}

.seat:hover {
  background-color: #ffa500;
}

.seats-content {
  display: flex;
  gap: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.form-container>button {
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: #B93B3B;
  box-shadow: 0px 4px 4px 0px rgba(209, 75, 75, 0.25);
  color: white;
}

#photo-preview {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nameContainer>input {
  border-radius: 20px;
  border: 1px solid #B93B3B;
  width: 300px;
  height: 35px;
  outline: none;
  text-align: center;
}

.genderDiv {
  display: flex;
  gap: 109px;
}

.age-counter {
  display: flex;
  align-items: center;
  gap: 32px;
}

.custom-alert {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 300px;
}

.custom-alert>button {
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: #B93B3B;
  box-shadow: 0px 4px 4px 0px rgba(209, 75, 75, 0.25);
  color: white;
}